.searchForm {
    /*    background-color: yellow;*/
    text-align: center;
}

.searchBar {
    /*    background-color: purple;*/
}

.imgDisplayComment {
    /*    background-color: aqua;*/
    text-align: center;
}

.imgDisplay {
    /*    background-color: deeppink;*/
}

.imgGallery {
    /*    background-color: limegreen;*/
    text-align: center;
}

img {
    height: 11em;
}
