<!DOCTYPE html>
<html lang="en" ng-app="flickrSearchApp">

<head>
    <meta charset="UTF-8">
    <title>Flickr Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body ng-controller="flickrSearchControl">
    <div class="row">
        <div class="searchForm col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
            <h1>Flickr Search</h1>
            <form class="searchBar form-inline form-group" ng-submit="searchFlickr(searchTerm)">
                <input type="text" class="searchInput form-control" ng-model="searchTerm" placeholder="Flickr Search Here">
                <button type="submit" class="searchBtn btn btn-success form-control">Go!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="imgDisplayComment col-md-8 col-md-offset-2">Looking for images of "{{searchTerm | uppercase}}"!</div>
    </div>
    <div class="row" ng-if="showResults">
        <div class="imgDisplay col-md-8 col-md-offset-2">
            <div class="row imgGallery">
                <img class="col-md-4" ng-repeat="photo in photos |limitTo:20" ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" />
            </div>
        </div>
    </div>
</body>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>

</html>
